**Grupo: Aline Sousa Rezende e Thallonys**

**Exercício 7 - Regressão Linear**

A partir das variáveis, calcular o preço estimado do diamante.

Usar:

- Dataset treinamento/testes
- Limpeza dos dados
- Seleção de dados de entrada que maximizam o resultado
- Calcular R2 do modelo

In [ ]:
import matplotlib.pyplot as plt
import numpy as np 
import pandas as pd

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/diamonds.csv")
df

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [ ]:
df_X = df[["carat", "depth", "table"]]
df_Y = df [["price"]]

from sklearn.model_selection import train_test_split

X_treinamento, X_testes, Y_treinamento, Y_testes = train_test_split(df_X, df_Y, test_size=0.2)

In [ ]:
from sklearn import linear_model

reg = linear_model.LinearRegression()
reg.fit(X_treinamento, Y_treinamento)
reg.coef_

array([[7851.96950867, -147.19721844, -105.18687652]])

In [ ]:
Y_pred = reg.predict(X_testes)

from sklearn.metrics import r2_score

r2_score(Y_testes, Y_pred)

0.8561017711786054